* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.text-primary {
  color: #fd6e0a;
}
.header {
  max-width: 1680px;
  height: 837px;
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* Header and Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-tittle {
  font-weight: 800;
  font-size: 45px;
}
nav li {
  list-style: none;
  margin-left: 50px;
  font-size: 20px;
}
nav ul {
  display: flex;
  align-items: center;
}
.btn-primary {
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  /* Orange color for background */
  background: #fd6e0a;
  /* White Color for text*/
  color: #ffffff;
}
/* Banner Styles */
.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.banner-tittle {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 5px;
}
.banner_sub-tittle {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About section styles */
.about {
  margin-top: 170px;
  background: #fff8f3;
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
  margin-bottom: 120px;
}
.section-tittle {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-tittle {
  font-size: 20px;
  color: #757575;
}
.about .info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* What I do styles */

.what-i-do {
  margin-top: 130px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skills {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skills-tittle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-description {
  font-weight: 400;
  color: #757575;
}
/* Resume Section */

.resume-content {
  display: flex;
  gap: 24px;
}
.resume-tittle {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-sub-tittle {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-description {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-button {
  margin-top: 50px;
  text-align: center;
}
/* Contract Styles */

.contract {
  display: flex;
  background: #fff8f3;
  padding: 130px 100px;
}

.contrat .section-tittle {
  text-align: left;
  margin-bottom: 30px;
}

.contract .section-description {
  margin-bottom: 30px;
  text-align: left;
  max-width: 90%;
}
.contract input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}

.contract a {
  text-decoration: none;
}
