* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.text-primary {
  color: #fd6e0a;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: right, left;
}
/* Header and Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.btn-primary {
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  /* Orange color for background */
  background: #fd6e0a;
  /* White Color for text*/
  color: #ffffff;
}
/* Banner Styles */
.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.banner-tittle {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 5px;
}
.banner_sub-tittle {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About section styles */
.about {
  margin-top: 130px;
  background: #fff8f3;
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-tittle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-tittle {
  font-size: 20px;
  color: #757575;
}
.about .info-description {
  font-size: 20px;
  color: #474747;
}
